* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: #0AF;
}

.app-body {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 200px;
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #0AF;
  color: white;
  font-weight: 900;
}

.small-btn {
  height: 50px;
}

.create-card {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.cards-list-holder {
  /* I could be a grid or a flexbox! Decisions, decisions... */
  display: flex;
  width: 90vw;
  border: 1px solid #0AF;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
}

.decks-list-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  border: 1px solid #0AF;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
}

.card-preview {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 140px;
  border: 1px solid burlywood;
  border-radius: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  transition: background-color 0.5s;
}

.card-preview:hover {
  background-color: azure;
}

.deck-preview {
  display: flex;
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid cornflowerblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.deck-preview:hover {
  background-color: antiquewhite;
}

.text-input {
  padding: 10px;
  width: calc(25vw + 10px);
  text-align: center;
  font-size: 2vmin;
}

.session-setup-decks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid red;
  width: 50vw;
}

#session-cards-choose-menu {
  display: flex;
  height: 50vh;
  width: 80vw;
  flex-direction: row;
  border: 1px solid black;
}

#current-card-studied {
  border: 1px solid #777;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}